---
layout: default
title: Home
---

<div class="posts">
	{% for post in paginator.posts reversed %}
	<div class="post">
		<h1 class="post-title">
			{{ post.title }}
			<div class="post-no">
				{% if post.next %}
				<a class="post-prev" href="{{post.next.url}}"
					>&#9001;</a
				>
				{% else %}
				<span class="post-none">&#9001;</span>
				{% endif %}
				<a href="/runs">
					{{ paginator.total_pages | minus: paginator.page | plus: 1 }}
				</a>
				{% if post.previous %}
				<a class="post-next" href="{{post.previous.url}}">&#9002;</a>
				{% else %}
				<span class="post-none">&#9002;</span>
				{% endif %}
			</div>
		</h1>
		<span class="post-date">{{ post.date | date_to_string }}</span>
		{{ post.content }}
	</div>
	<div class="pagination">
		{% if post.next %}
		<a class="pagination-item newer" href="{{post.next.url}}"
			>Newer</a
		>
		{% else %}
		<span class="pagination-item newer">Newer</span>
		{% endif %}
		{% if post.previous %}
		<a class="pagination-item older" href="{{post.previous.url}}">Older</a>
		{% else %}
		<span class="pagination-item older">Older</span>
		{% endif %}
	</div>
	{% endfor %}
</div>