@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2');
}

@media (min-width: 48em) {
	html {
		font-size: 15px;
	}
	.sidebar {
		width: 16rem;
	}
	.content {
		max-width: none;
	}
	.content {
		margin-left: 20rem;
	}
	.layout-reverse .content {
		margin-right: 20rem;
	}
	.sidebar-sticky {
		left: 0.35rem;
		right: 0.35rem;
	}
}
@media (min-width: 58em) {
	html {
		font-size: 18px;
	}
}
html {
	line-height: 1.65;
}

.related-posts {
	margin-top: 1.65rem;
}

.related-posts a, .runs a {
	font-weight: normal;
	/* color: #999; */
	display: block;
}

.related-posts li small, .runs li small {
	float: right;
	color: #999;
}

.related-posts li a:hover {
	text-decoration: underline;
}

.page-title {
	margin-bottom: 1.65rem;
}

a.pagination-item:hover, a.pagination-item:focus {
	text-decoration: none;
}

.post-no {
	float: right;
}