/* .gist_post {
	font-size: unset !important;
	color: unset !important;
	text-align: unset !important;
	direction: unset !important;
}

.gist_post .gist-file {
	font-family: unset !important;
	margin-bottom: unset !important;
	border: unset !important;
	border-color: unset !important;
	border-radius: unset !important;
}

.gist_post .gist-file article {
	padding: unset !important;
}

.gist_post .gist-data {
	overflow: unset !important;
	word-wrap: unset !important;
	background-color: unset !important;
	border-bottom: unset !important;
	border-radius: unset !important;
} */

@media (max-width: 48rem) {
	.gist_post .markdown-body ol,
	.gist_post .markdown-body ul {
		padding-left: 1rem;
	}
}

.gist_post code,
.gist_post pre {
	font-family: 'JetBrains Mono';
	white-space: pre-wrap;
}

.gist_post .markdown-body code,
.gist_post .markdown-body tt {
	font-size: 0.8rem;
	background-color: #f6f8fa;
	padding: 0;
}

.gist_post .markdown-body .highlight pre,
.gist_post .markdown-body pre {
	font-size: 0.8rem;
	line-height: 2;
	padding: 10px 20px;
	white-space: pre-wrap;
}

.gist_post .markdown-body {
	line-height: 1.9;
}

.gist_post .gist-meta {
	display: none;
}

a.anchor {
	display: none;
}
