.gistpost .gist {
	font-size: unset !important;
	color: unset !important;
	text-align: unset !important;
	direction: unset !important;
}

.gistpost .gist .gist-file {
	font-family: unset !important;
	margin-bottom: unset !important;
	border: unset !important;
	border-color: unset !important;
	border-radius: unset !important;
}

.gistpost .gist .gist-file article {
	padding: unset !important;
}

.gistpost .gist .gist-meta {
	display: none !important;
}

.gistpost .gist .markdown-body {
	font-family: unset !important;
	font-size: unset !important;
	line-height: 1.75 !important;
	word-wrap: unset !important;
}

.gistpost .gist .gist-data {
	overflow: unset !important;
	word-wrap: unset !important;
	background-color: unset !important;
	border-bottom: unset !important;
	border-radius: unset !important;
}

.gistpost .gist .gist-file .gist-data {
	font-size: 1rem !important;
	line-height: 1.65 !important;
}

.gistpost .gist code,
.gistpost .gist pre {
	font-family: 'JetBrains Mono' !important;
}

.gistpost .gist .markdown-body code,
.gistpost .gist .markdown-body tt {
	font-size: 0.8rem !important;
}

.gistpost .gist .markdown-body li+li {
	margin-top: 0 !important;
}

.gistpost .gist .markdown-body .highlight pre,
.gistpost .gist .markdown-body pre {
	font-size: 0.8rem !important;
	line-height: 1.65 !important;
	padding: 16px 20px !important;
	white-space: pre-wrap !important;
}

.gistpost .gist .markdown-body h1, .gistpost .gist .markdown-body h2, .gistpost .gist .markdown-body h3, .gistpost .gist .markdown-body h4, .gistpost .gist .markdown-body h5, .gistpost .gist .markdown-body h6 {
	margin-top: 0.9rem !important;
	margin-bottom: 0.9rem !important;
	line-height: unset !important;
}