/* .gist_post {
	font-size: unset !important;
	color: unset !important;
	text-align: unset !important;
	direction: unset !important;
}

.gist_post .gist-file {
	font-family: unset !important;
	margin-bottom: unset !important;
	border: unset !important;
	border-color: unset !important;
	border-radius: unset !important;
}

.gist_post .gist-file article {
	padding: unset !important;
}

.gist_post .gist-data {
	overflow: unset !important;
	word-wrap: unset !important;
	background-color: unset !important;
	border-bottom: unset !important;
	border-radius: unset !important;
} */

@font-face {
	font-family: 'JetBrainsMono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
			format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
			format('woff'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
			format('truetype');
	font-weight: 400;
	font-style: normal;
}

/* @import url('https://dev-cats.github.io/code-snippets/JetBrainsMono.css'); */

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.9;
	margin-top: 0.5rem;
}

p,
ul,
ol,
dl,
.post-date {
	margin-bottom: 0.35rem;
}

ul,
ol,
dl {
	padding-left: 1.65rem;
}

@media (max-width: 48rem) {
	ol,
	ul {
		padding-left: 1rem;
	}
}

code,
pre {
	font-family: 'JetBrainsMono', 'SF Mono', Consolas, 'Ubuntu Mono', monospace;
	white-space: pre-wrap;
}

code,
tt {
	font-size: 0.8rem;
	background-color: #f6f8fa;
	padding: 0;
}

.highlight pre,
pre {
	font-size: 0.8rem;
	line-height: 2;
	padding: 10px 20px;
	white-space: pre-wrap;
}
