{% if page.type and page.type == 'gist_post' %}
<div class="gistpost">
	{% if page.layout == "page" %}
	{% assign file_name = page.gist_name | replace: '/', '' | append: '.md' %}
	{% elsif page.layout == "post"%}
	{% assign file_name = page.date | date: '%Y-%m-%d' | append: page.url | replace_first: '/', '-' | append: '.md' %}
	{% endif %}
	{% if page.collection == "posts" %}
	{% assign gist_url = site.github.username | append: '/' | append: site.github.gist_id.posts %}
	{% elsif page.collection == "languages" %}
	{% assign gist_url = site.github.username | append: '/' | append: site.github.gist_id.languages %}
	{% elsif page.collection == "runs" %}
	{% assign gist_url = site.github.username | append: '/' | append: site.github.gist_id.runs %}
	{% endif %}
	{% gist gist_url file_name %}
</div>
{% endif %}