{% if page.type and page.type == 'gistpost' %}
<div class="gistpost">
	{% if page.layout == "page" %}
	{% assign file_name = page.url | replace: '/', '' | append: '.md' %}
	{% elsif page.layout == "post"%}
	{% assign file_name = page.date | date: '%Y-%m-%d' | append: page.url | replace_first: '/', '-' | append: '.md' %}
	{% endif %}
	{% assign gist_url = site.gist_username | append: '/' | append: site.gist_id %}
	{% gist gist_url file_name %}
	<!-- {% assign raw_url = site.gist_url | append: '/' | append: site.gist_username | append: '/' | append: site.gist_id | append: '/raw/' | append: file_name %} -->
</div>
{% endif %}