<head>
	{% if page.title == "Home" %}
	<title>
		{{ site.title }} &middot; {{ site.tagline }}
	</title>
	<script>
		window.location.href =
			window.localStorage.getItem('recent-path') ||
			'{{ site[site.conf.default_collection].last.url }}';
	</script>
	{% else %}
	<link href="http://gmpg.org/xfn/11" rel="profile" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- Enable responsiveness on mobile devices-->
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1"
	/>
	<title>
		{{ page.title }} &middot; {{ site.title }}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/public/css/poole.css" />
	<link rel="stylesheet" href="/public/css/syntax.css" />
	<link rel="stylesheet" href="/public/css/hyde.css" />
	<link rel="stylesheet" href="/public/css/gist_post.css" />
	<link rel="stylesheet" href="/public/css/custom.css" />
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface"
	/>

	<!-- Icons -->
	<link
		rel="apple-touch-icon-precomposed"
		sizes="144x144"
		href="/public/apple-touch-icon-144-precomposed.png"
	/>
	<link rel="shortcut icon" href="/favicon.ico" />

	<!-- RSS -->
	<link
		rel="alternate"
		type="application/rss+xml"
		title="RSS"
		href="/atom.xml"
	/>

	{% if site.conf.use_highlight %}
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/{{ site.conf.highlight_style }}.min.css"
	/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', event => {
			document.querySelectorAll('pre').forEach(block => {
				hljs.highlightBlock(block);
			});
		});
	</script>
	{%endif%}

	<!-- Open post links in new tab -->
	<script type="text/javascript" src="/public/js/hotkeys.min.js"></script>
	<script>
		window.onload = function() {
			const currentPathName = window.location.pathname;
			const RECENT_PATH = 'recent-path';
			const PATH_SCROLL_Y = `${currentPathName}-scroll-y`;
			const RESTORE_SCROLL_ALL = true;
			const setLocalStorage = (key, value) =>
				window.localStorage.setItem(key, value);
			const getLocalStorage = key => window.localStorage.getItem(key);
			var a = document.querySelectorAll('.gist_post a');
			var onListingPage = "{{ site.runs | map: 'url' }}".includes(
				currentPathName.replace(/\//gi, '')
			);
			for (var i = 0; i < a.length; i++) {
				a[i].setAttribute('target', '_blank');
			}
			if (
				getLocalStorage(RECENT_PATH) &&
				getLocalStorage(PATH_SCROLL_Y)
			) {
				if (
					currentPathName == getLocalStorage(RECENT_PATH) ||
					RESTORE_SCROLL_ALL
				) {
					window.scroll(
						0,
						getLocalStorage(PATH_SCROLL_Y).split('|')[1]
					);
				}
			}
			if (!onListingPage) {
				setLocalStorage(RECENT_PATH, currentPathName);
				const getScrollTimer = () => {
					return setTimeout(() => {
						let newScrollY = window.scrollY;
						if (getLocalStorage(PATH_SCROLL_Y)) {
							newScrollY =
								newScrollY > 0 &&
								newScrollY -
									getLocalStorage(PATH_SCROLL_Y).split(
										'|'
									)[1] ==
									1
									? newScrollY - 1
									: newScrollY;
						}
						setLocalStorage(
							PATH_SCROLL_Y,
							`${currentPathName}|${newScrollY}`
						);
					}, 300);
				};
				let scrollTimer = getScrollTimer();
				window.onscroll = function() {
					if (scrollTimer) {
						clearTimeout(scrollTimer);
					}
					scrollTimer = getScrollTimer();
				};
			}
			const followClassUrl = className => {
				window.location.href = document
					.getElementsByClassName(className)[0]
					.getAttribute('href');
			};
			hotkeys('left', () => {
				followClassUrl('post-next');
			});
			hotkeys('right', () => {
				followClassUrl('post-prev');
			});
			hotkeys('enter', () => {
				followClassUrl('post-current');
			});
			hotkeys('backspace', () => {
				if (onListingPage) {
					window.location.href = getLocalStorage(RECENT_PATH);
				}
			});
			hotkeys('alt + f', () => {
				if (!document.fullscreenElement) {
					document.documentElement.requestFullscreen({
						navigationUI: 'hide'
					}).catch(error => {
						console.log('error ')
					});
				} else {
					document.exitFullscreen()
				}
			});
		};
	</script>
	{% endif %}
</head>
