<head>
	{% if page.title == "Home" %}
	<title>
		{{ site.title }} &middot; {{ site.tagline }}
	</title>
	<script>
		window.location.href =
			window.localStorage.getItem('recent-path') ||
			'{{ site[site.conf.default_collection].last.url }}';
	</script>
	{% else %}
	<link href="http://gmpg.org/xfn/11" rel="profile" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- Enable responsiveness on mobile devices-->
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1"
	/>
	<title>
		{{ page.title }} &middot; {{ site.title }}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/public/css/poole.css" />
	<link rel="stylesheet" href="/public/css/syntax.css" />
	<link rel="stylesheet" href="/public/css/hyde.css" />
	<link rel="stylesheet" href="/public/css/gist_post.css" />
	<link rel="stylesheet" href="/public/css/custom.css" />
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface"
	/>

	<!-- Icons -->
	<link
		rel="apple-touch-icon-precomposed"
		sizes="144x144"
		href="/public/apple-touch-icon-144-precomposed.png"
	/>
	<link rel="shortcut icon" href="/favicon.ico" />

	<!-- RSS -->
	<link
		rel="alternate"
		type="application/rss+xml"
		title="RSS"
		href="/atom.xml"
	/>

	<!-- Open post links in new tab -->
	<script type="text/javascript" src="/public/js/hotkeys.min.js"></script>
	<script>
		window.onload = function() {
			const RECENT_PATH = 'recent-path';
			const PATH_SCROLL_Y = `${window.location.pathname}-scroll-y`;
			const RESTORE_SCROLL_ALL = true;
			var a = document.querySelectorAll('.gist_post a');
			for (var i = 0; i < a.length; i++) {
				a[i].setAttribute('target', '_blank');
			}
			if (
				window.location.pathname ==
				window.localStorage.getItem(RECENT_PATH) || RESTORE_SCROLL_ALL
			) {
				window.scroll(0, window.localStorage.getItem(PATH_SCROLL_Y).split('|')[1]);
			}
			if (
				!"{{ site.runs | map: 'url' }}".includes(
					window.location.pathname.replace(/\//gi, '')
				)
			) {
				window.localStorage.setItem(
					RECENT_PATH,
					window.location.pathname
				);
				const getScrollTimer = () => {
					return setTimeout(() => {
						window.localStorage.setItem(
							PATH_SCROLL_Y,
							`${window.location.pathname}|${window.scrollY}`
						);
					}, 300);
				};
				let scrollTimer = getScrollTimer();
				window.onscroll = function() {
					if (scrollTimer) {
						clearTimeout(scrollTimer);
					}
					scrollTimer = getScrollTimer();
				};
			}
			const followClassUrl = className => {
				window.location.href = document
					.getElementsByClassName(className)[0]
					.getAttribute('href');
			};
			hotkeys('left', () => {
				followClassUrl('post-next');
			});
			hotkeys('right', () => {
				followClassUrl('post-prev');
			});
			hotkeys('enter', () => {
				followClassUrl('post-current');
			});
		};
	</script>
	{% endif %}
</head>
