---
layout: page
---

{% assign current_run = page.url | remove_first: "/" %}

<div class="runs">
	<table>
		{% for through in site[current_run] reversed %}
		{% if page.url == "/concepts" %}
			<!-- {% increment concept_no %} -->
			{% assign through_no = concept_no %}
		{% elsif page.url == "/languages" %}
			<!-- {% increment language_no %} -->
			{% assign through_no = language_no %}
		{% elsif page.url == "/statistics" %}
			<!-- {% increment stat_no %} -->
			{% assign through_no = stat_no %}
		{% endif %}
		<tr>
			{% assign table_index = site[current_run].size | minus: through_no | plus: 1 %}
			{% if table_index < 10 %}
				{% assign table_index = table_index | prepend: '0' %}
			{% endif %}
			<td class="runs-no">{{ table_index }}.</td>
			<td class="runs-link">
				<a href="{{ through.url }}">
					{{ through.title }}
				</a>
				<span class="runs-date">{{ through.date | date_to_string }}</span>
			</td>
			<td class="runs-date">{{ through.date | date_to_string }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div class="about">
	<h3>{{ site.title }} &middot; {{ site.tagline }} | {{ site.description }}</h3>
	{% include gist_post.html %}
</div>