---
layout: default
---

{% assign col_name = page.url | remove_first: "/" %}
{% assign cols = "concepts, languages, statistics"| split: ", " %}

{% if col_name == cols[0] %}
	{% assign prev_col_url = cols[2] | prepend: "/" %}
	{% assign next_col_url = cols[1] | prepend: "/" %}
{% elsif col_name == cols[1] %}
	{% assign prev_col_url = cols[0] | prepend: "/" %}
	{% assign next_col_url = cols[2] | prepend: "/" %}
{% elsif col_name == cols[2] %}
	{% assign prev_col_url = cols[1] | prepend: "/" %}
	{% assign next_col_url = cols[0] | prepend: "/" %}
{% endif %}

{% assign col = site.collections | where: "label", col_name | first %}

<div class="page">
	<h1 class="page-title">
		{{ page.title }}
		<div class="post-no">
			{% if true %}
				<a class="post-next" href="{{ prev_col_url }}">&#9001;</a>
			{% else %}
				<span class="post-none">&#9001;</span>
			{% endif %}
			<a href="{{ col.docs.last.url }}">#</a>
			{% if true %}
				<a class="post-prev" href="{{ next_col_url }}">&#9002;</a>
			{% else %}
				<span class="post-none">&#9002;</span>
			{% endif %}
		</div>
	</h1>
	{{ content }}
</div>
