---
layout: default
---

<div class="post">
	<h1 class="post-title">
		{{ page.title }}
		<div class="post-no">
			{% if page.next %}
				<a class="post-next" href="{{ page.next.url }}">&#9001;</a>
			{% else %}
				{% if site.conf.cpg %}
					<a class="post-next" href="{{ site.posts.last.url }}">&#9001;</a>
				{% else %}
					<span class="post-none">&#9001;</span>
				{% endif %}
			{% endif %}
				<!-- {% increment page_no %} -->
				<a href="{% link runs.md %}">{{ page_no }}</a>
			{% if page.previous %}
				<a class="post-prev" href="{{ page.previous.url }}">&#9002;</a>
			{% else %}
				{% if site.conf.cpg %}
					<a class="post-prev" href="{{ site.posts.first.url }}">&#9002;</a>
				{% else %}
					<span class="post-none">&#9002;</span>
				{% endif %}
			{% endif %}
		</div>
	</h1>
	<span class="post-date">{{ page.date | date_to_string }}</span>
	{{ content }}
	{% include gistpost.html %}
</div>

<div class="pagination">
	{% if page.next %}
		<a class="pagination-item newer" href="{{page.next.url}}"
			>Newer</a
		>
	{% else %}
		{% if site.conf.cpg %}
			<a class="pagination-item older" href="{{site.posts.last.url}}">Oldest</a>
		{% else %}
			<span class="pagination-item newer">Newer</span>
		{% endif %}
	{% endif %}
	{% if page.previous %}
		<a class="pagination-item older" href="{{page.previous.url}}">Older</a>
	{% else %}
		{% if site.conf.cpg %}
			<a class="pagination-item older" href="{{site.posts.first.url}}">Newest</a>
		{% else %}
			<span class="pagination-item older">Older</span>
		{% endif %}
	{% endif %}
</div>
